<%- include("partials/header"); -%>

    <main>

        <div class="titleContent">
            <h1>Movies Library</h1>
            <form action="/" method="post">
                <label for="">Search a movie</label>
                <div>
                    <input autocomplete="off" type="text" name="movieSeacrhed">
                    <button type="submit"> 
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="otherButtos">
            <button>
                <i class="fa-regular fa-star"></i>
                <a href="">Favourites</a>
            </button>
            <button>
                <i class="fa-thin fa-trash"></i>
                <a href="">No favourites</a>
            </button>
            <button>
                <i class="fa-solid fa-eye"></i>
                <a href="">Want to see</a>
            </button>
        </div>

    </main>

<%- include("partials/footer"); -%>