body{
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh fit-content minmax(100px, 10vh);
}
h1{
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;   
}
i{
    color: white;
}
footer i{
    color: white;
    padding: 50px 10px 25px 10px;
}

/*Main part of the Home EJS part*/
main{
    /* background-image: url(https://images.pexels.com/photos/13400083/pexels-photo-13400083.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    place-items: center;
    max-height: fit-content;
    min-height: 80vh;
    padding-top: 80px;
    color: white;
    background-color: whitesmoke;
}
main a{
    text-decoration: none;
    color: white;
}
/*Estilo de botón como cinta de cine*/
main button{
    background-color: black;
    margin: 30px;
    padding: 5px 8px;
}
main .titleContent{
    color: black;
}
main .titleContent button{
    margin: 0px;
    width: 30px;
    padding: 0px;
    height: 30px;
    border-radius: 50%;
}

/* Cards for the movies search */
.cardsContainers{
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}
.shopCard{
    font-family: 'Mukta', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 450px;
    height: fit-content;
    background-color: rgba(58, 58, 58, 0.897);
    border-radius: 15px;
    margin: 15px 10px;
    overflow: hidden;
}
.shopCard img{
    width: 100%;
    height: 100%;
}
.shopCard .infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}
.shopCard p{
    font-size: 12px;
}
.shopCard button{
    color: white;
    background-color: rgb(151, 10, 10);
    border: none;
    padding: 10px 0px;
    border-radius: 10px;
}
.shopCard button:hover{
    transition: 0.6s;
    background-color: rgb(187, 46, 46);
}
